@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  width: 1216px;
  height: 100%;
  margin: auto;
}

header {
  width: 100%;
  height: 40px;
}

.header_collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav > a {
  margin-right: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  text-decoration: none;
}

nav > button {
  width: 92px;
  height: 40px;
  border: 1px solid #999999;
  border-radius: 35px;
  text-align: center;
}

nav > img {
  margin-right: 40px;
}

nav > button > a {
  margin-right: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  text-decoration: none;
  margin: auto;
}

main {
  width: 100%;
  height: 100%;
}

.hero {
  width: 100%;
  margin-top: 100px;
}

.hero_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  width: 646px;
  height: 260px;
}

.hero-text > h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 80px;
  color: #000000;
}

.hero-text > p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-top: 30px;
}

.hero_data {
  width: 500px;
  height: 252px;
  background: #FFFFFF;
  box-shadow: 0px 22px 38px rgba(0, 34, 19, 0.04);
  border-radius: 20px;
}

.hero-data-img-one {
  padding-top: 50px;
  padding-left: 20px;
  margin-right: 24px;
}

.hero-data-img-three {
  padding-left: 20px;
  margin-top: 40px;
}

.hero_img {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.hero-img-one {
  width: 900px;
}

.hero-img-two {
  width: 300px;
}

.hero-img-twoo {
  margin-bottom: 16px;
}

.servic {
  width: 100%;
  margin-top: 120px;
}

.servic_text {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.servic-par-one {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}

.servic-par-two {
  width: 605px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #555555;
  margin-top: 16px;
}

.servic_paragraph-two {
  padding-top: 80px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #3771C8;
  text-align: center;
}

.servic_paragraph-two > div {
  width: 109px;
  height: 6px;
  border: 1px solid #F9D15C;
  border-radius: 280px;
}

.servic_collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 41px;
  list-style: none;
}

.servic_collection_item {
  width: 308px;
  height: 320px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.servic_collection_item > img {
  width: 68px;
  margin-left: 120px;
  padding-top: 36px;
}

.servic-item-par {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #222222;
  text-align: center;
  margin-top: 42px;
}

.servic-item-par-two {
  width: 278px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #666666;
  margin-top: 12px;
}

.servic_collection_item:nth-child(2) {
  background: #FFFFFF;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}/*# sourceMappingURL=main.css.map */